All Makefiles source config/$(ARCH)_$(TYPE), where ARCH defines exactly what 
machine architecture to target and TYPE is the parallelization strategy
(one, omp, mpi, ompi, mpisr, shmem).

The specified config/$(ARCH)_$(TYPE) file must already exist.  So far
the following are available:

hpe-intel-relo_mpi		- HPE SGI, MPI (mpt), Intel Compiler
hpe-intel-relo_ompi		- HPE SGI, MPI+OpenMP (mpt), Intel Compiler
hpe-intel-relo_one		- HPE SGI,  single processor, Intel Compiler
intelGF-impi-sm-relo_mpi	- IBM iDATAPlex, GNU Fortran and Intel MPI
intelsse-impi-sm-relo_mpi	- IBM iDATAPlex, Intel Fortran and Intel MPI
intelsse-impi-sm-relo_omp	- IBM iDATAPlex, Intel Fortran, OpenMP
intelsse-impi-sm-relo_one	- IBM iDATAPlex, Intel Fortran, single processor
intelsse-pe-sm-relo_mpi		- IBM iDATAPlex, Intel Fortran and IBM MPI
xc40-gnu-relo_mpi		- Cray XC40, MPI, GNU Fortran
xc40-gnu-relo_omp		- Cray XC40, OpenMP, GNU Fortran
xc40-gnu-relo_one		- Cray XC40, single processor, GNU Fortran
xc40-intel-relo_cesmb		- Cray XC40, CESMBETA, Intel Compiler
xc40-intel-relo_cice		- Cray XC40, HYCOM+CICE using ESMF4, Intel Compiler
xc40-intel-relo_mpi		- Cray XC40, MPI, Intel Compiler
xc40-intel-relo_ompi		- Cray XC40, MPI+OpenMP, Intel Compiler
xc40-intel-relo_one		- Cray XC40, single processor, Intel Compiler
xc40-pgi-relo_mpi		- Cray XC40, MPI, Portland Group Compiler

The following environment variables must be defined in each config file:

# FC:         Fortran 90 compiler.
# FCFFLAGS:   Fortran 90 compilation flags.
# CC:         C compiler.
# CCFLAGS:    C compilation flags.
# CPP:        cpp preprocessor (may be implied by FC).
# CPPFLAGS:   cpp -D macro flags (see README.src.config.macros).
# LD:         Loader.
# LDFLAGS:    Loader flags.
# EXTRALIBS:  Extra local libraries (if any).

In addition, make suffix rules are required for .c.o, and .F90.o 
(i.e. how to create .o files from .c, and .F90 files).  In the 
simplest case these are:

#
# rules.
#

.c.o:
	$(CC) $(CPPFLAGS) $(CCFLAGS)  -c $*.c

.F90.o:
	$(FC) $(CPPFLAGS) $(FCFFLAGS) -c $*.F90

Note that the rule command lines start with a tab character.
